/* SolutionSlider.css */
.slider-container {
  margin: 0 auto;
  overflow: hidden;
}

.slide {
  display: flex;
  justify-content: center;
  padding-right: 50px; /* Add padding to each slide */
  padding-left: 50px; /* Add padding to each slide */
}
