.photo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  
  .photo-box {
    width: 100%; /* Adjusted to fill the parent */
    height: 50%; /* Adjusted to take half of the parent's height */
    border-radius: 13px 0 0 0;
    opacity: 1; /* Adjusted for visibility */
    margin-bottom: -1px; /* Overlap divs to prevent gap due to borders */
  }
  
  #photo1 {
    background-color: blue;
    top: 3396px;
    left: 1012px;
  }
  
  #photo2 {
    background-color: white;
    top: 3844px; /* Added the height of the first div plus the gap */
    left: 1012px;
  }